header{
    background-color: #bbbbbb;
    padding: 20px 0px;/*espaçamento interno de 20 px para cima e para baixo*/
}
.caixa{
    position: relative;/*adicionando o menu nav para dentro da caixa, assim as guias utilizadas top e rigth serão de acordo com o tamanho da caixa*/
    width: 940px;/*largura da caixa*/
    margin: 0 auto;/*topo e baixo / esquerda e direita*/
}
nav{
    position: absolute;/*posicionamento relativo a toda pagina*/   
    top: 110px; 
    right: 0px;
}
nav li{
    display: inline;/*a lista ficara uma do lado da outra*/
    margin: 0 0 0 15px;/*topo > esquerda > baixo > direita*/
}
nav a{
    text-transform: uppercase;/*tranforma todo o texto em maiusculo, neste caso é o texto dentro das ancoras*/
    color: #000000;
    font-weight: bold;/*altera o peso da fonte, tipo negrito*/
    font-size: 22px;/*tamanho da fonte*/
    text-decoration: none;/*Retira todo item de decoração, nesse caso o sublinhado*/
}
nav a:hover{/*:hover pega o comportamento que acontence sobre um determinado item, nesse caso o item é a ancora contida em na tag nav, nesse caso eu tenho quando o mouse estiver por cima dos links faça....*/
    color: #906611;/*trocar para esta cor*/
    text-decoration: underline;/*quando o mouse estiver por cima da ancora, a ancora será sublinhada*/
    
}
main{/*a configuração abaixo faz com que as labels fiquem com largura de 940px, espaçamento de topo e baixo de 0px e das laterais ele vai se adequar ao tamanho da tela, assim o centralizando*/
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;/*assim havera um espaçamento de 40 px para cima e para baixo, para as laterais nao vai ter espaçamento*/
}
form label, form legend{
    display: block;/*dessa forma as labels ocuparam todo espaço lateral*/
    font-size: 20px;
    margin: 0 0 10px;/*dessa forma topo = 0, esquerda e direita = 0, baixo = 10px*/
    font-weight: bold;
}
.input-padrão{
    display: block;/*dessa forma os inputs ocuparam todo espaço lateral*/
    margin: 0 0 20px;/*dessa forma topo = 0, esquerda e direita = 0, baixo = 20px*/
    padding: 10px 25px;/*esse espaçamento interno do input deixará a área  que receberar itens com mais espaçamento interno*/
    width: 50%;/*agora a label tera 50% de largura dos 940px*/
}
.checkbox{
    margin: 20px 0px;
}
.botao-submit{
    background-color: #ff7b00;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    width: 40%;
    padding: 15px 0;
    transition: 1s all;/*Esse comando junto a alteração abaixo de troca de cor quando passar o mouse por cima, a troca de cor tera uma transição suave de 1 segundo, o all faz com que toda transformação informada a baixo demore 1 segundo para acontecer + 1 segundo para retornar ao estado inicial*/
}
.botao-submit:hover{
    background-color: darkorange;
    cursor: pointer;/*dessa forma quando a seta do mouse estiver em cima do botão, ficará uma mão no lugar da seta*/
    transform: scale(1.010);/*este comando faz com que o botão aumente proporcionalmente quando passamos a seta em cima dele*/
}
form table{
    margin: 20px 40px;
}
thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: #000000 solid 1px;
    padding: 2.5px 5px;
}
footer{
    background: url("bg.jpg");/*no lugar de adicionar uma cor, adicionei uma imagem como cor de fundo, e essa imagem ela vai de expandindo por toda area lateral da pagina*/
    text-align: center;
    padding: 40px 0px;
}
.copyrigth{
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}