#banner{
    width: 100%;/*o banner agora oculpa 100% da tela dentro do site em largura*/
    /*height: 120px;o banner agora possui 120 px de altura*/
}
.principal{
    background-color: #cccccc;
    padding: 30px;
}
.titulo-principal{
    padding-left: 20px;/*espaçamento a esquerda de 20px*/
}
.titulo-centralizado{/*Alteração será realizada no h1*/
    text-align: center;/*alinhamento do texto ao centro*/
}
p{/*Alteração será realizada no p*/
    color: #000000;/*cor da letra*/
    text-align: center;/*alinhamento do texto ao centro*/
}
#missao{/*a hastag e o id=missao iram fazer com que o paragrafo que recebeu a identificação missao seja configurado separadamente dos demais*/
    font-size: 18px;
}
em strong{/*Alteração será realizada no "strong" que esta dentro do "em"*/
    color: red;/*cor da letra*/
}
.itens{/*o ponto mais o nome da classe permite adicionar estilos aos itens marcados na classe*/
    font-style: italic;
}
ul{
    display: inline-block;/*inline block libera que o item possa ter sua distancia lateral alterada manualmente*/
    vertical-align: top;/*o alinhamento utilizando o inline block deixa a lista alinhada na parte de baixo, o comando vertical align modifica isso, nesse caso mandando que seja alinhado pela linha de cima*/
    width: 20%;
    margin-right: 15%;
}
.beneficios{
    background-color: #ffffff;
    padding: 20px;
}
.beneficios{
    width: 50%;
}